@import "./extend";

.faq {
    padding: 70px 0 100px;

    &__nav-first {
        @extend .nav-first;
    }


    &__nav-midle {
        @extend .nav-first;
    }


    &__nav-last {
        @extend .nav-last;
    }


    &__title {
        font-size: 45px;
        font-family: "Raleway";
        color: rgb(60, 60, 60);
        margin-bottom: 70px;
    }

    &__row{
        margin-bottom: 50px;

        &:last-child{
            margin-bottom: 0;
        }
    }


    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }


    &__img-q {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: rgb(226, 87, 76);
        max-width: 70px;
        width: 100%;
        max-height: 70px;
        margin-right: 30px;

        & span{
            font-size: 21px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
        }
    }


    &__text-q {
        font-size: 18px;
        font-family: "PlayfairDisplay";
        color: rgb(60, 60, 60);
        line-height: 1.5;
        text-align: left;
        margin: 0;
    }


    &__img-a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: rgb(230, 230, 230);
        max-width: 70px;
        width: 100%;
        max-height: 70px;
        margin-right: 30px;

        & span{
            font-size: 21px;
            font-family: "Raleway";
            color: rgb(194, 193, 193);
        }
    }

    &__text-a {
        font-size: 18px;
        font-family: "PlayfairDisplay";
        color: rgb(121, 121, 121);
        text-align: left;
    }
}
