.home{
    p{
        margin: 0;
    }

    &__slider{
        box-sizing: border-box;
        max-height: 550px;
        height: 100%;
    }

    &__started{
        background-color: $grey;
        padding: 45px 0;
    }

    &__testimon{
        max-height: 575px;
        box-sizing: border-box;
    }
}
