.offering{
    padding: 125px 0;
    position: relative;

    &__title{
        font-family: "Raleway";
        font-size: 37px;
        line-height: 50px;
        margin: 0;
        color: $dark;
        text-align: right;
        font-weight: 500;

        @media screen and (max-width: 1024px){
            text-align: center;
        }
        @media screen and (max-width: 768px){
            font-size: 30px;
            line-height: 40px;
        }
        
    }

    &__text{
        padding-left: 10px;

        @media screen and (max-width: 1024px){
            text-align: center;
        }
        @media screen and (max-width: 768px){
            padding-top: 50px;
        }
    }

    &__border{
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 12px;
            width: 30px;
            height: 3px;
            background-color: $dark;

            @media screen and (max-width: 1024px){
                right: 50%;
                transform: translateX(50%);
                bottom: -20px;

            }
        }
    }

    @media screen and (max-width: 1200px){
        padding: 80px 0;
    }
    @media screen and (max-width: 1024px){
        padding: 70px 0;
    }
}
