@import "./../extend";

.company{
    padding: 70px 0 100px;

    &__nav-first{
        @extend .nav-first;
    }

    &__nav-last{
        @extend .nav-last;
    }

    &__title{
        font-size: 45px;
        line-height: 50px;
        color: #3c3c3c;
        font-weight: 300;
        font-family: "Raleway";
        margin-top: 15px;
        margin-bottom: 70px;
    }

    &__image{
        width: 100%;

        img{
            width: 100%;
            max-height: 380px;
            height: 100%;
        }

        @media screen and (max-width: 1200px){
            padding-bottom: 25px;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 27px;
        color: #797979;
        font-weight: 400;

        @media screen and (max-width: 992px){
           text-align: center;
        }
    }

    @media screen and (max-width: 992px){
        padding: 60px 0 80px;
    }
    @media screen and (max-width: 768px){
        padding: 50px 0 60px;
    }

}
