.team{
    padding: 100px 0;

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        @media screen and (max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
    }

    &__title{
        display: inline-block;
        font-size: 37px;
        font-family: "Raleway";
        line-height: 1.8; 
    }

    &__faq{
        display: inline-block;
        font-size: 20px;
        color: rgb(226, 87, 76);
        text-decoration: none;
        cursor: pointer;

        &:hover{
            color: rgb(193, 121, 116);
        }
    }

    @media screen and (max-width: 768px){
        padding: 70px 0;
    }
    @media screen and (max-width: 576px){
        padding: 50px 0;
    }
}

.person{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    text-align: center;
    padding-bottom: 30px;


    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;


    &:hover {
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
    }
    
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }
    
    &:hover:before {
        transform: scale(2.15);
    }

    &__image{
        width: 100%;
    }

    &__name{
        font-size: 20px;
        font-family: "Raleway";
        font-weight: bold;
        color: #000000;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__text{
        margin: 0;
    }

    @media screen and (max-width: 576px){
        margin: 12px auto;
    }
}


  
  